// Variables
$primary-color: #007bff;
$button-width: 360px;
$button-height: 300px;

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

#root {
  min-width: 300px;
}

body {
  margin: 0;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nc-news-header {
  margin: 5px;
  margin-left: 10px;
  width: 205px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-size: 24px;
  font-weight: bold;
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000, 0 0 90px #000000;
  }
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000, 0 0 80px #000000, 0 0 90px #000000, 0 0 100px #000000;
  }
}

#head-N {
  padding: 3px;
  background-color: red;
  color: white;
}

#head-C {
  margin-left: 1px;
  padding: 3px;
  background-color: black;
  color: white;
}

.header button {
  margin-top: 5px;
  margin-right: 50px;
}

.sign-in-btn {
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
  &:hover {
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
  }
}

.users img {
  max-width: 30px;
  max-height: 30px;
  padding-right: 10px;
}

.user-avatar {
  max-width: 40px;
  max-height: 40px;
  padding-right: 30px;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  z-index: 1000;
  margin-top: 10px;
  padding: 0;
}

.nav-bar a:hover {
  transition: background-color 0.4s ease;
  background-color: #000000;
  color: white;
}

.nav-bar a {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  padding: 3px;
  margin: 5px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.nav-bar a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.4s ease;
}

.nav-bar a:focus:after,
.nav-bar a:active:after {
  background-color: red;
}
.nav-bar a.active {
  text-decoration: underline;
  color: red;
}

.nav-bar p {
  margin-left: auto;
  cursor: pointer;
}

#allArticlesList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    height: 300px;
  }
  img {
    max-width: 240px;
    border-radius: 8px;
  }
}

#allArticlesBox {
  margin-top: 100px;
}

#each-article {
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.each-article-in-list:hover,
.each-article-in-list:active {
  transition: background-color 0.4s ease;
  background-color: black;
  color: white;
}

.filtered-articles {
  width: $button-width;
  height: $button-height;
  margin: 5px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.filtered-articles:hover,
.filtered-articles:active {
  transition: background-color 0.4s ease;
  background-color: black;
  color: white;
}

.articles-div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button {
    width: $button-width;
    height: $button-height;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }

  h2 {
    color: #000000;
    padding-top: 25px;
    font-size: x-large;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: 90%;
    max-width: 900px;
  }
}

#topic-article-img {
  max-width: 240px;
  border-radius: 8px;
}

.topic-link {
  position: relative;
  display: inline-block;
  text-align: center;
}

.topic-link img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.topic-link .topic-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 150%;
  padding: 5px 10px;
  border-radius: 5px;
}

#article-card {
  display: block;
  padding-top: 120px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#inc-votes,
#dec-votes {
  width: 80px;
  height: 40px;
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
  }
}

#back-to-articles {
  width: 140px;
  height: 30px;
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 10px 3px rgb(0, 0, 0);
  }
}

.users {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  margin: 0;
  padding: 10px;
  background-color: black;
  border: 2px solid #000000;
  border-radius: 8px;
  z-index: 9999;

  #cancel-button {
    align-items: center;
    justify-content: center;
    font-size: large;
    color: red;
    &:hover {
      transition: background-color 0.4s ease;
      background-color: red;
      color: white;
    }
  }

  button {
    width: 180px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid;
    border-radius: 8px;

    &:hover {
      transition: background-color 0.4s ease;
      background-color: red;
      color: white;
    }
  }
}
.post-comment-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#post-button {
  font-size: 18px;
  height: 50px;
  width: 100px;
}
#new-comment {
  margin: 10px;
  width: 50%;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
}

#new-comment:focus {
  outline: none;
  border-color: $primary-color;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0);
}

.user {
  display: flex;
  margin: 5px;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
}

.comments-for-article {
  color: white;
  margin-top: 20px;
  padding: 20px;
  background-color: #151515;
  button {
    max-height: 40px;
    margin: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    &:hover {
      border: 2px solid rgb(0, 0, 0);
      transition: background-color 0.4s ease;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      box-shadow: 0 0 10px 3px white;
    }
  }
  h2 {
    color: rgb(255, 255, 255);
  }
}

.current-user {
  margin: 5px;
  &:hover {
    transition: background-color 0.4s ease;
    background-color: black;
    color: white;
  }
}

#add-comment {
  width: 240px;
  font-size: 20px;
  max-height: 40px;
}

#delete-comment {
  width: 200px;
  color: red;
  border: 2px solid red;
  background-color: #000000;
  &:hover {
    border: 2px solid white;
    transition: background-color 0.4s ease;
    background-color: red;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 3px red;
  }
}

.each-comment {
  border: #000000 2px solid;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px white;
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3px;
}

.user-info img {
  width: 75px;
  margin-right: 10px;
}

.user-info div {
  display: flex;
  flex-direction: column;
}

.comment-text {
  flex-grow: 1;
}

.comment-text p {
  margin: 0;
}

.comment-author {
  font-weight: bold;
}

.time-stamp {
  font-size: 15px;
}

.topic-photos {
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;

  img {
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 8%;
    &:hover {
      box-shadow: 0 0 10px 3px #000000;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: larger;
    margin-top: 20px;
  }
}
.home-title {
  margin-top: 110px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 0;
}
