// Variables
$primary-color: #007bff;
$button-width: 360px;
$button-height: 250px;

.NC {
  color: red;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  cursor: pointer;
}

#root {
  min-width: 300px;
}

body {
  margin: 0;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6eaaea;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header button {
  margin: 15px;
}

.sign-in-btn:hover {
  box-shadow: 0 0 10px 3px rgb(0, 0, 0);
}

.users img {
  max-width: 30px;
  max-height: 30px;
  padding-right: 10px;
}

.nav-bar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #8a0000;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  margin-top: 10px;
  padding: 0;
}

.nav-bar a:hover {
  box-shadow: 0 0 10px 3px rgb(255, 255, 255);
}

.nav-bar a {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  padding: 3px;
  margin: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

#allArticlesList {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#allArticlesBox {
  margin-top: 100px;
}

.articles-div {
  text-align: center;

  button {
    width: $button-width;
    height: $button-height;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
  }

  h2 {
    color: #000000;
  }

  h3 {
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
  }
}

#article-card {
  padding-top: 120px;
  margin-left: 5px;
  margin-right: 5px;
}

.comments-for-article {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

#back-to-articles {
  width: 140px;
  height: 30px;
  background-color: #8a0000;
  color: #ffffff;
  border: 2px solid;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

.users {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: #8a0000;
  border: 2px solid #000000;
  border-radius: 8px;

  button {
    width: 180px;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid;
    border-radius: 8px;

    &:hover {
      box-shadow: 0 0 10px 3px rgb(255, 255, 255);
    }
  }
}

.user {
  display: flex;
  margin: 5px;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
}

.comments-for-article {
  background-color: #f0e96d;
  button {
    width: 80px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    padding: 3px;
    margin: 5px;
  }
}

#add-comment {
  width: 200px;
}
.each-comment {
  border: #000000 2px solid;
  margin-bottom: 10px;
  border-radius: 8px;
}

.comments-for-article {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.topic-photos {
  margin-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;

  img {
    max-width: 250px;
    height: auto;
    display: block;
    border-radius: 8%;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
}
